@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

.main {
  width: 700px;
  border-radius: 20px;
  background-color: #01579b;
}

.top {
  height: 60px;
  background-color: #424242;
  color: whitesmoke;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  font-family: "Recursive", sans-serif;
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #424242;
  color: whitesmoke;
  margin: 10px 0px 0px 10px;
  font-size: 25px;
  border-radius: 20px 20px 0 0;
  font-family: "Recursive", sans-serif;
}

.day {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.temp {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.sunrise-sunset {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 16px;
}

.description {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

button {
  width: 55px;
  height: 35px;
  background-color: blue;
  color: white;
  font-size: 12px;
  border-radius: 5px 5px 5px 5px;
}

.coordinat {
  background-color: lightgray;
  color: blueviolet;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px 10px 10px 10px;
  font-family: "Recursive", sans-serif;
  text-align: center;
}
